@import url('https://fonts.googleapis.com/css2?family=Festive&family=IBM+Plex+Sans&display=swap');

html {
    background-color: black;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

svg {
    margin: 42px 0px 73px 0px; 
}

main {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

h2 {
    font-size: 32px;
    margin-bottom: 61px;
}

ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li:hover {
    font-weight: bolder;
}

figure {
    overflow: hidden;
    border-radius: 8px;
}

img {
    height: 160px;
    width: 160px;
    border-radius: 8px;
}

.img1:hover {
    transform: scale(1.3);
    transition-duration: 1s;
}

#adicionar {
    opacity: 0.2;
}

#adicionar:hover {
    opacity: 1;
}

span {
    width: 160px;
    margin-top: 20px;
    font-size: 14px;
    color:#9C9C9C;
}

#gerenciar {
    width: 206px;
    height: 50px;
    margin-top: 136px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border-color: white;
    font-weight: bold;
    
}

#gerenciar:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}


